html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  background-image: url('../../images/background.png');
  font-family: 'Merriweather Sans', sans-serif;
}
.container {
  width: 100%;
  background-color: rgba(254, 234, 255, 0.4);
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto;
}
div {
  display: block;
}
.button {
  color: rgba(0, 0, 0, 0.7);
  height: 25px;
  padding: 0 10px;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(254, 234, 255, 0.4);
}
.prevInst {
  float: left;
  margin-left: 4px;
}
.nextInst {
  float: right;
  margin-right: 10%;
}
.logout {
  float: right;
}
#chat {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 250px;
  overflow-y: scroll;
}
#chat p {
  padding: 4px;
  margin: 0;
}
#chat p:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}
#chat .from-app:nth-child(n) {
  background-color: rgba(255, 255, 255, 0.2);
}
#chat-message,
#room-name {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.form-container {
  display: inline-block;
}
input[type=text],
input[type=password] {
  border-radius: 2px;
  display: block;
}
select {
  height: 25px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  padding: 0 4px;
  margin: 3px 5px;
  text-align: center;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 7.5px 0;
  width: 100px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #424242;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgba(0, 0, 0, 0.7);
  height: 15px;
  width: 8px;
  background: #555bc8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
input[type=range]::-moz-range-track {
  width: 100px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #424242;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
input[type=range]::-moz-range-thumb {
  border: 1px solid rgba(0, 0, 0, 0.7);
  height: 15px;
  width: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #353535;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
input[type=range]::-ms-fill-upper {
  background: #424242;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
input[type=range]::-ms-thumb {
  border: 1px solid rgba(0, 0, 0, 0.7);
  height: 15px;
  width: 8px;
  background: #555bc8;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #424242;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4f4f4f;
}
.whiteKey {
  height: 250px;
  width: 45px;
  border: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
}
.blackKey {
  height: 150px;
  width: 30px;
  border: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  background-color: black;
  color: rgba(254, 234, 255, 0.4);
  position: absolute;
  margin-left: -18px;
}
.pressed {
  background-color: grey;
}
.keyboardParams {
  display: inline-block;
}
.keyboardContainer {
  width: 750px;
}
.instrument-enter {
  opacity: 0.01;
}
.instrument-enter.instrument-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.instrument-leave {
  opacity: 1;
}
.instrument-leave.instrument-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.drumPad {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 3px;
}
.loop-toggle {
  width: 100px;
  height: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px auto;
}
.pad-container {
  display: inline-block;
  margin: 0 15px;
}
.pad-container p {
  margin-left: 7px;
}
.drum-machine-container {
  width: 630px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.loop-button {
  height: 24px;
  width: 24px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px;
  display: inline-block;
}
.loop-container {
  width: 600px;
  margin-bottom: 20px;
}
