.whiteKey {
  height: 250px;
  width: 45px;
  border: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
}
.blackKey {
  height: 150px;
  width: 30px;
  border: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  background-color: black;
  color: white;
  position: absolute;
  margin-left: -18px;
}
.pressed {
  background-color: grey;
}
.keyboardContainer {
  width: 750px;
}
.instrument-enter {
  opacity: 0.01;
}
.instrument-enter.instrument-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.instrument-leave {
  opacity: 1;
}
.instrument-leave.instrument-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.drumPad {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 15px;
}
.loop-toggle {
  width: 100px;
  height: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px auto;
}
.pad-container {
  display: inline-block;
  margin: 0 15px;
}
.drum-machine-container {
  width: 630px;
}
.loop-button {
  height: 24px;
  width: 24px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px;
  display: inline-block;
}
.loop-container {
  width: 600px;
}
