<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test landing page</title>
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/css/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">


      <main id='react-container'></main>
    </div>



    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/js/production-app.js" charset="utf-8"></script>
  </body>
</html>
